fastapi
uvicorn
sqlalchemy
psycopg2-binary
psycopg[binary]
python-dotenv
sentence-transformers
google-genai
pypdf



python-docx
pdfplumber
pydantic
python-jose[cryptography]
pydantic-settings
python-json-logger
